@charset "UTF-8";

.header{
  padding: 40px 20px;
  background-image: linear-gradient(chartreuse,rgb(110, 218, 1));
  display: flex;  
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}
#burguer{
color: #141414;
display: none;
text-align: center;
font-size: 2rem;
transition: .3s;
}

i#burguer:hover{
  cursor: pointer;
  color: white;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu a{
   font-size: 1.125rem; 
   line-height: 1.3;
   padding: 10px 20px ;
   text-decoration: none;
   color: #141414;
   display: block;
}

.titulo{
font-size: 2.5rem;
}

@media (max-width:800px){
    #burguer{
      display: none;
    }

   
    .header{
       flex-direction: column;
       gap: 20px;
       padding: 20px  ;
  }

  .header a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }

}


@media (max-width:580px){
    
 #burguer{
    display: block;
  }

  nav{
    display: none;
  }

  nav.ativo{
    display: block;
  }

  .header-menu{
    flex-direction: column;
    align-items: center;
  }
}
   
