@charset "UTF-8";


.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;

}

.introducao h1{
font-size: 4rem;
line-height: 1.125;
margin-bottom: 30px;
position: relative;
}

.introducao h1::before {
    content:'';
    display: block;
    width: 130px ;
    height: 100px;
    background: url('../img/detalhe.svg');
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
  
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

.imagem{
    border-radius: 20% 45% 45% 20%;
}

@media (max-width: 1000px){

 
   .introducao h1{
        font-size: 2.8rem;
   }
}

@media (max-width: 800px){

    .introducao{
        grid-template-columns: 1fr 1fr ;
        gap: 40px;
    }

   .introducao h1{
        font-size: 2.5rem;
   }

   .introducao h1::before{
      width: 130px;
      height: 40px;
      top: -40px;
   }
}


@media (max-width:580px){


    
    .introducao img{
        order: 1;
    }

    .introducao{
        grid-template-columns: 1fr;
        place-items: center center;
    }

   
}